body .index{
  margin: 0;
  height: 100%;
  overflow: hidden;
}
h1 {
  text-align:center;
  padding: 10px 10px 10px 10px;
  margin-top: 10px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
  color: #083f61;
  font-family: "Georgia";
  font-size: 80px;
  background: #d6efff;
  background-origin: padding-box;
}
ul {
  text-align: center;
  padding: 0px 0px 0px 0px;
  background: #A5D5F2;
  margin-top: 0px;
}
li {
  display: inline;
  padding: 0px 30px 0px 30px;
}
.btn {
	text-decoration:none;
	font-family:Trebuchet MS;
	text-indent:0px;
	line-height:30px;
	-moz-border-radius:0 0 0 0;
	-webkit-border-radius:0 0 0 0;
	border-radius:0 0 0 0;
	text-align:center;
	vertical-align:middle;
	display:inline-block;
	font-size:20px;
	color:#083f61;
  background: #A5D5F2;
	width:100px;
	height:30px;
	padding:13px;
	border-color:#0d5cab;
	border-width:0px;
	border-style:solid;
}
.btn:active {
	position: relative;
	top:3px
}
.btn:hover {
  background:#2f668a;
  color: white;
}
p {
  column-count: 1;
  font-size: 18px;
  align: center;
  text-align: justify;
  position: absolute;
  width:45%;
  padding: 15px 15px 15px 15px;
  display: inline-block;
  color: #083f61;
  font-family: "Arial Narrow";
  background: white;
  margin-left: 30px;
  margin-bottom: 30px;
}
a {
  color:inherit;
  text-decoration: none;
}
img {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
